.home-contenedor {
  background-color: rgb(95, 95, 160);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(14, 14, 34);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.logo {
  font-size: 1.4rem;
}

.main{
    padding: 2rem;
}

h1{
  display: flex;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  max-width: 2000px;
  margin: auto;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #2b3852;
}

.producto img{
    border: 2px solid rgb(180, 158, 158);
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
    max-height: 300px;
    background-repeat: no-repeat;
    align-items: center;
}

.comprar{
  display: flex;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  max-width: 600px;
  margin: 30px auto;
  background-color: #a53752;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.producto h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: black;
  background-color: rgb(235, 227, 227);
}

.producto p {
  max-width: 300px;
  margin: 2px auto;
  padding: 5px;
  text-align: center;
  background-color: grey;
 }

.producto .ensamblado{
  max-width: 300px;
  margin: 1px auto;
  padding: 2px;
  text-align: center;
  color: black;
  background-color: rgb(235, 227, 227);
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.8rem;
  padding: 2rem;
}


.producto {
  background-color: rgb(235, 227, 227);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.producto:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.5);
}

